$font-title: 'Roboto Condensed', 微軟正黑體, Microsoft JhengHei;
$font-content: 'Roboto', Verdana, 微軟正黑體, Microsoft JhengHei, Helvetica, Arial, STHeiti, sans-serif;
$font-content-tw: PingFangSC-Regular, 'Roboto',  Microsoft JhengHei, Helvetica, Arial, STHeiti, sans-serif;
$font-weight: 500;

$color-white: #ffffff;
$color-black: #000000;
$color-orange: #f26f21;
$color-orange-dark: #d4570c;
$color-gray-darkest: #3a3a3a;