.btn-group {
  &.list {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: translate3d(0, 0, 0);
    white-space: nowrap;

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    .btn {
      background-color: #3a3a3a;
      color: #cbcbcb;
      cursor: pointer;
      border: none;
      margin: auto 2px auto auto;
      min-width: 60px;
      padding: 10px 2px;

      &:hover {
        background: #525252;
        color: #ffffff;
      }

      &.active, &:active {
        background-color: #ffffff;
        color: #000;
      }
    }
  }
}