.movie-card {
  .movie-card-image-placeholder {
    background-image: url(data:image/png;base64,data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARAAAACZAQMAAAGqC8dkAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAABxJREFUWMPtwTEBAAAAwqD1T20MH6AAAAAAAPgbFa4AARwCsQoAAAAASUVORK5CYII=)
  }

  .movie-card-placeholder {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…gxbDEuMTk3IDMuNjM2LjE4LjU1NC4xNzEuNTI2Ljk1IDIuODkzeiIvPiAgICA8L2c+PC9zdmc+);
    background-size: cover;
    width: 100%;
  }

}